
		html{
			background-color: #FF5B45;
			font-size:14px;
		}
	
	
		/* ------- LOGIN-FORM ------- */
		#login-page {
			flex: 1 0 auto;
			margin-top: 50px;
			width: 325px;
		}
		
		.login-form{
			width: 300px;
		}
		form{
			display:block;
			margin-top:0em;
		}
		.profile-image-login{
			width: 96px;
			height: 96px;
			margin: 0 auto;
			margin-top: 20px;
			margin-bottom: -20px;
		}
		
		.toast{
			padding:15px 25px;
			background-color: #36373B !important;
		}
		
		#toast-container{
			top:5% !important;
			right:5% !important;
			left: auto !important;
		}
		/* ------- END LOGIN-FORM ------- */