

		/* ------- FOOTER ------- */
		.footer-copyright{
			line-height: 10px !important;
			height: 33px !important;
			padding-bottom: 10px;
			font-size: 0.95em;
			background-color: #36373B !important;
		}
		/* ------- END FOOTER ------- */