<h1>Invitation received</h1>

<p>Hi <%= @user.firstname %>,</p>

<p>you have received an invitation from <%= @invitedBy.firstname %> to become a connection.<br />
Have a look at the <%= link_to "profile", @invitedBy %> of this person and decide whether or not you would like to get in touch.</p>

<p>	
	Kind regards,
	<br />
	<br />
	The Leash-team.
</p>