<h1>Invitation accepted</h1>

<p>Hi <%= @user.firstname %>,</p>

<p>your invitation to become a connection has been accepted by <%= @acceptedBy.firstname %>.<br />
The two of you are now able to make appointments.</p>

<p>	
	Kind regards,
	<br />
	<br />
	The Leash-team.
</p>