<div id="container">
	<div id="content">
   		<div id="loginbox" class="container-fluid text-center">
			<div class="titlebox">
				<h1>Sign up</h1>
				<p class="flash">
   					<%= flash.notice %>
				</p>
			</div>
			<%= render 'form' %>
		</div>
	</div>
  	<div id="footer">
    	<p>Copyright (c) 2016</p>
  	</div>
</div>