    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Looking for someone to walk your dog?</h1>
                <hr>
                <h1>Looking for a dog to take for a walk?</h1>
                <br />
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                   <!--  <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p> -->
                    <a href="#" class="btn btn-getstarted btn-xl">Get Started!</a>
                    <br />
                </div>
            </div>
        </div>
    </section>

     <section class="bg-secondary" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
          <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Create an agenda</h3>
                        <p class="text-muted">Create your own planning for each animal.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">Making sure your beloved dog is getting all of the acitivty it needs!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-comments wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Share ideas</h3>
                        <p class="text-muted">Got any questions about training or walking dogs? </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-send wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Doggy-sit?</h3>
                        <p class="text-muted">Going on a holiday and looking for someone to take care for your dog?</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-map-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Favorite routes</h3>
                        <p class="text-muted">Share your favorite route with other people.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heartbeat wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Medical problems</h3>
                        <p class="text-muted">Temporarily can't walk your dog, because of medical problems? Find someone to help you out!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

  <div id="footer2">
    <p>Copyright <span class="fa fa-copyright"></span> 2016</p>
  </div>