<div class="banner"></div>
  <div id="container">
    
<!--   <div id="content">
  <div id="container"> -->
  	<div class="content">
		<div class="container">
			<div class="row">
			  <div class="table-responsive">
				<table class="table table-hover">
				  <thead>
					<tr>
						<th></th>
						<th class="detailsHeader">Details</th>
						<th>Location</th>
						<th>Availability</th>
					</tr>
				  </thead>
				  <tbody id="myTable">
					<tr>
					  <td class="imageColumn"> 
						<div class="circular" style="background: url(assets/animal-dog-pet-fur.jpg) no-repeat;	background-size: cover; background-position: center;" />
					  </td>
					  <td class="descriptionColumn">
						<div class="animalDescription">
							<!--<blockquote>-->
								<p>
									<dl class="dl-horizontal">
									  <dt><strong>Name</strong></dt>
									  <dd>...</dd>
									  <dt><strong>Breed</strong></dt>
									  <dd>...</dd>
									  <dt><strong>Description</strong></dt>
									  <dd>...</dd>
									</dl>
									<!--<strong>name</strong>
									<br />
									Breed
									<br />
									Owner description-->
								</p>
							<!--</blockquote>-->
						</div>
					  </td>
					  <td>
						<div class="animalLocation">
							<!--<blockquote>-->
								<p>
									<strong>City</strong>
									<br />
									Region
									<br />
									<br />
									Distance: 0.01 km
								</p>
							<!--</blockquote>-->
						</div>
					  </td>
					  <td>
						<div class="animalAvailability">
							<!--<blockquote>-->
								<p>
									Mon - Fri:  08u00 - 10u00
									<br />
									Sat - Sun:	14u00 - 19u00
								</p>
							<!--</blockquote>-->
						</div>
					  </td>
					</tr>
					<tr>
					  <td class="imageColumn">
						<div class="circular" style="background: url(assets/lake-animals-dogs-pets.jpg) no-repeat;	background-size: cover; background-position: center;" />
					  </td>
					  <td class="descriptionColumn">
						<div class="animalDescription">
								<p>
									<dl class="dl-horizontal">
									  <dt><strong>Name</strong></dt>
									  <dd>...</dd>
									  <dt><strong>Breed</strong></dt>
									  <dd>...</dd>
									  <dt><strong>Description</strong></dt>
									  <dd>...</dd>
									</dl>
								</p>
						</div>
					  </td>
					  <td>
						<div class="animalLocation">
								<p>
									<strong>City</strong>
									<br />
									Region
									<br />
									<br />
									Distance: 0.02 km
								</p>
						</div>
					  </td>
					  <td>
						<div class="animalAvailability">
							<p>
								Mon - Fri:  12u05 - 12u45
								<br />
								Sat - Sun:	08u00 - 13u00
							</p>
						</div>
					  </td>
					</tr>
					<tr>
					  <td class="imageColumn">
						<div class="circular" style="background: url(assets/animal-dog-outside-pet.jpg) no-repeat;	background-size: cover; background-position: center;" />
					  </td>
					  <td class="descriptionColumn">
						<div class="animalDescription">
								<p>
									<dl class="dl-horizontal">
									  <dt><strong>Name</strong></dt>
									  <dd>...</dd>
									  <dt><strong>Breed</strong></dt>
									  <dd>...</dd>
									  <dt><strong>Description</strong></dt>
									  <dd>...</dd>
									</dl>
								</p>
						</div>
					  </td>
					  <td>
						<div class="animalLocation">
								<p>
									<strong>City</strong>
									<br />
									Region
									<br />
									<br />
									Distance: 0.05 km
								</p>
						</div>
					  </td>
					  <td>
						<div class="animalAvailability">
							<p>
								Mon - Fri:  18u00 - 19u00
								<br />
								Sat - Sun:	-
							</p>
						</div>
					  </td>
					</tr>
					<tr>
					  <td class="imageColumn">
						<div class="circular" style="background: url(assets/pexels-photo-10517.jpg) no-repeat;	background-size: cover; background-position: center;" />
					  </td>
					  <td class="descriptionColumn">
						<div class="animalDescription">
								<p>
									<dl class="dl-horizontal">
									  <dt><strong>Name</strong></dt>
									  <dd>...</dd>
									  <dt><strong>Breed</strong></dt>
									  <dd>...</dd>
									  <dt><strong>Description</strong></dt>
									  <dd>...</dd>
									</dl>
								</p>
						</div>
					  </td>
					  <td>
						<div class="animalLocation">
								<p>
									<strong>City</strong>
									<br />
									Region
									<br />
									<br />
									Distance: 0.08 km
								</p>
						</div>
					  </td>
					  <td>
						<div class="animalAvailability">
							<p>
								Mon - Wed:  08u00 - 11u00
								<br />
								Thu - Fri:  15u00 - 17u00
								<br />
								Sat - Sun:	-
							</p>
						</div>
					  </td>
					</tr>
					<tr>
					  <td class="imageColumn">
						<div class="circular" style="background: url(assets/animal-dog-pet-brown.jpg) no-repeat;	background-size: cover; background-position: center;" />
					  </td>
					  <td class="descriptionColumn">
						<div class="animalDescription">
								<p>
									<dl class="dl-horizontal">
									  <dt><strong>Name</strong></dt>
									  <dd>...</dd>
									  <dt><strong>Breed</strong></dt>
									  <dd>...</dd>
									  <dt><strong>Description</strong></dt>
									  <dd>...</dd>
									</dl>
								</p>
						</div>
					  </td>
					  <td>
						<div class="animalLocation">
								<p>
									<strong>City</strong>
									<br />
									Region
									<br />
									<br />
									Distance: 0.10 km
								</p>
						</div>
					  </td>
					  <td>
						<div class="animalAvailability">
							<p>
								Mon - Fri:  18u00 - 19u00
								<br />
								Sat - Sun:	-
							</p>
						</div>
					  </td>
					</tr>
					<% for i in 1..10 %>
						<tr>
						  <td class="imageColumn">
						  	<% if i == 1 %>
								<div class="circular" style="background: url(http://media.zenfs.com/en-US/video/video.pd2upload.com/video.yahoofinance.com@fc01f40d-8f4e-3cbc-9d8f-a7b9e79d95fd_FULL.jpg) no-repeat;	background-size: cover; background-position: center;" />
							<% elsif i == 2 %>
								<div class="circular" style="background: url(http://bebusinessed.com/wp-content/uploads/2014/03/734899052_13956580111.jpg) no-repeat;	background-size: cover; background-position: center;" />
							<% elsif i == 3 %>
								<div class="circular" style="background: url(http://www.besttorontodogtrainer.com/wp-content/uploads/2013/12/dog-training-toronto.jpg) no-repeat;	background-size: cover; background-position: center;" />
							<% elsif i == 4 %>
								<div class="circular" style="background: url(https://poolhouse.s3.amazonaws.com/blog-assets-two/2014/11/awkwarddog.jpg) no-repeat;	background-size: cover; background-position: center;" />
							<% elsif i == 5 %>
								<div class="circular" style="background: url(https://s.graphiq.com/sites/default/files/stories/t4/20_Best_Breeds_for_First-Time_Dog_Owners_3132_4371.jpg) no-repeat;	background-size: cover; background-position: center;" />
							<% elsif i == 6 %>
								<div class="circular" style="background: url(http://www.besttorontodogtrainer.com/wp-content/uploads/2013/12/dog-training-toronto.jpg) no-repeat;	background-size: cover; background-position: center;" />
							<% elsif i == 7 %>
								<div class="circular" style="background: url(https://i.ytimg.com/vi/6j7oQletFbc/maxresdefault.jpg) no-repeat;	background-size: cover; background-position: center;" />
							<% elsif i == 8 %>
								<div class="circular" style="background: url(https://upload.wikimedia.org/wikipedia/commons/a/a8/Lava_the_sled_dog.jpg) no-repeat;	background-size: cover; background-position: center;" />
							<% elsif i == 9 %>
								<div class="circular" style="background: url(http://i.livescience.com/images/i/000/006/480/i02/090721-baby-and-dog-02.jpg) no-repeat;	background-size: cover; background-position: center;" />
							<% elsif i == 10 %>
								<div class="circular" style="background: url(http://thedogwallpaper.com/wp-content/uploads/2013/10/dog-boxer-wallpaper-35.jpg) no-repeat;	background-size: cover; background-position: center;" />
								
							<% end %>
						  </td>
						  <td class="descriptionColumn">
							<div class="animalDescription">
									<p>
										<dl class="dl-horizontal">
										  <dt><strong>Name</strong></dt>
										  <dd>...</dd>
										  <dt><strong>Breed</strong></dt>
										  <dd>...</dd>
										  <dt><strong>Description</strong></dt>
										  <dd>...</dd>
										</dl>
									</p>
							</div>
						  </td>
						  <td>
							<div class="animalLocation">
									<p>
										<strong>City</strong>
										<br />
										Region
									<br />
									<br />
									Distance: <%= i * 0.13 %> km
									</p>
							</div>
						  </td>
						  <td>
							<div class="animalAvailability">
								<p>
									Mon - Wed:  08u00 - 11u00
									<br />
									Thu - Fri:  15u00 - 17u00
									<br />
									Sat - Sun:	-
								</p>
							</div>
						  </td>
						</tr>
					<% end %>
				  </tbody>
				</table>   
			  </div>
			  <div class="col-md-12 text-center">
			  <ul class="pagination" id="myPager"></ul>
			  </div>
			</div>
		</div>
	</div>
  </div>
  <div id="footer2">
        <%= render "layouts/footer" %>
  </div>
</div>

<script type="text/javascript">
	$.fn.pageMe = function(opts){
		var $this = this,
			defaults = {
				perPage: 7,
				showPrevNext: false,
				hidePageNumbers: false
			},
			settings = $.extend(defaults, opts);
		
		var listElement = $this;
		var perPage = settings.perPage; 
		var children = listElement.children();
		var pager = $('.pager');
		
		if (typeof settings.childSelector!="undefined") {
			children = listElement.find(settings.childSelector);
		}
		
		if (typeof settings.pagerSelector!="undefined") {
			pager = $(settings.pagerSelector);
		}
		
		var numItems = children.size();
		var numPages = Math.ceil(numItems/perPage);

		pager.data("curr",0);
		
		if (settings.showPrevNext){
			$('<li class="li_prev_link"><a href="#" class="prev_link">&#171;</a></li>').appendTo(pager);
		}
		
		var curr = 0;
		while(numPages > curr && (settings.hidePageNumbers==false)){
			$('<li><a href="#" class="page_link">'+(curr+1)+'</a></li>').appendTo(pager);
			curr++;
		}
		
		if (settings.showPrevNext){
			$('<li class="li_next_link"><a href="#" class="next_link">&#187;</a></li>').appendTo(pager);
		}
		
		pager.find('.page_link:first').addClass('active');
		pager.find('.prev_link').hide();
		//pager.find('.li_prev_link').addClass('disabled');
		//pager.find('li .prev_link').unbind('click');
		if (numPages<=1) {
			pager.find('.next_link').hide();
			//pager.find('.li_next_link').addClass('disabled');
			//pager.find('li .next_link').unbind('click');
		}
		pager.children().eq(1).addClass("active");
		
		children.hide();
		children.slice(0, perPage).show();
		
		pager.find('li .page_link').click(function(){
			var clickedPage = $(this).html().valueOf()-1;
			goTo(clickedPage,perPage);
			return false;
		});
		pager.find('li .prev_link').click(function(){
			previous();
			return false;
		});
		pager.find('li .next_link').click(function(){
			next();
			return false;
		});
		
		function previous(){
			var goToPage = parseInt(pager.data("curr")) - 1;
			goTo(goToPage);
		}
		 
		function next(){
			goToPage = parseInt(pager.data("curr")) + 1;
			goTo(goToPage);
		}
		
		function goTo(page){
			var startAt = page * perPage,
				endOn = startAt + perPage;
			
			children.css('display','none').slice(startAt, endOn).show();
			
			if (page>=1) {
				pager.find('.prev_link').show();
				//pager.find('.li_prev_link').removeClass('disabled');
				//pager.find('li .prev_link').click(function(){previous();return false;});
			}
			else {
				pager.find('.prev_link').hide();
				//pager.find('.li_prev_link').addClass('disabled');
				//pager.find('li .prev_link').unbind('click');
			}
			
			if (page<(numPages-1)) {
				pager.find('.next_link').show();
				//pager.find('.li_next_link').removeClass('disabled');
				//pager.find('li .next_link').click(function(){next();return false;});
			}
			else {
				pager.find('.next_link').hide();
				//pager.find('.li_next_link').addClass('disabled');
				//pager.find('li .next_link').unbind('click');
			}
			
			pager.data("curr",page);
			pager.children().removeClass("active");
			pager.children().eq(page+1).addClass("active");
		
		}
	};

	$(document).ready(function(){
		
	  $('#myTable').pageMe({pagerSelector:'#myPager',showPrevNext:true,hidePageNumbers:false,perPage:10});
		
	});
</script>
