<%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
<%= stylesheet_link_tag "fullcalendar", :media => "all" %>




      <div class="container">
				
	  <div class="row">
			<div class="col s12 m5 hide-on-med-and-up">
			 <ul class="collection z-depth-1 with-header hoverable">
				<li class="collection-header"><strong>Planning</strong></li>
				<li class="collection-item avatar">
				  <img src="assets/lake-animals-dogs-pets.jpg" alt="" class="circle">
				  <img src="https://www.peepl.be/static/images/team/ayrton.jpg" class="circle top-circle font-size:0.5em;" style="position:absolute; left:40px; top: 3px; color:#ffc107;" />
				  <span class="title truncate"><strong>Coming</strong> for a walk with Zara</span>
				  <p class="truncate"><i>Ayrton Vercruysse</i><br>
					18:00 - 19:00
				  </p>
				  <a href="#!" class="secondary-content">Today</a>
				</li>
				<li class="collection-item avatar">
				  <img src="http://bebusinessed.com/wp-content/uploads/2014/03/734899052_13956580111.jpg" alt="" class="circle">
				  <span class="title truncate"><strong>Going</strong> for a walk with Blacky</span>
				  <p class="truncate"><i>@ Aaron Bakker</i><br>
					10:00 - 11:00
				  </p>
				  <a href="#!" class="secondary-content">Saturday</a>
				</li>
			  </ul>
			</div>
			<div class="col s12 m4">
			 <ul class="collection z-depth-1 with-header hoverable card">
				<li class="collection-header"><strong>Dog walkers</strong></li>
				<li class="collection-item avatar">
				  <img src="https://pbs.twimg.com/profile_images/1846296430/ProfielFoto_400x400.png" alt="" class="circle">
				  <i class="material-icons" style="position:absolute; left:40px; top: 3px; color:#ffc107;">stars</i>
				  <span class="title truncate">Maxim Braekman</span>
				  <p class="truncate">Blankenberge <br>
					 Distance: 0.00 km
				  </p>
				  <a href="#!" class="activator secondary-content"><i class="material-icons">view_headline</i></a>
				</li>
				<li class="collection-item avatar">
				  <img src="https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-19/11939272_112396902446470_791408390_a.jpg" alt="" class="circle">
				  <!--<i class="material-icons circle red">account_circle</i>-->
				  <i class="material-icons" style="position:absolute; left:40px; top: 3px; color:#ffc107;">stars</i>
				  <span class="title truncate">Florence Compernolle</span>
				  <p class="truncate">Blankenberge <br>
					 Distance: 0.01 km
				  </p>
				  <a href="#!" class="activator secondary-content"><i class="material-icons">view_headline</i></a>
				</li>
				<li class="collection-item avatar">
				  <img src="https://www.peepl.be/static/images/team/ayrton.jpg" alt="" class="circle">
				  <!--<i class="material-icons circle red">account_circle</i>-->
				  <span class="title truncate">Ayrton Vercruysse</span>
				  <p class="truncate">Blankenberge <br>
					 Distance: 0.23 km
				  </p>
				  <a href="#!" class="activator secondary-content"><i class="material-icons">view_headline</i></a>
				</li>
				<li class="collection-item avatar">
				  <img src="http://www.gino-presents-elvis.com/wp-content/uploads/2015/01/Elvis-Presley-elvis-presley-22316485-2250-2533.jpg" alt="" class="circle">
				  <!--<i class="material-icons circle red">account_circle</i>-->
				  <span class="title truncate">Aaron Bakker</span>
				  <p class="truncate">Blankenberge <br>
					 Distance: 2.53 km
				  </p>
				  <a href="#!" class="activator secondary-content"><i class="material-icons">view_headline</i></a>
				</li>
					<li class="card-reveal addition">
					  <span class="card-title grey-text text-darken-4">Ayrton Vercruysse<i class="material-icons right">close</i></span>
					  <p>
						<i style="line-height:24px;">Premium user</i><i class="material-icons right" style=" color:#ffc107;">star star star star_half star_border</i>
						<br />
						<div class="col s6 m6 offset-s4 offset-m4 responsive-img circle" style="background: url(https://www.peepl.be/static/images/team/ayrton.jpg) 50% 50% no-repeat; max-width: 110px; min-height: 110px; background-size:cover;">
						</div>
					  </p>
					  <p class="walkerInfo">
						<i>Blankenberge</i><br />
						<a href="profile.html" class="secondary-content"><i class="material-icons">view_headline</i></a>
						<strong>Distance: 0.23 km</strong>
					  </p>
					</li>
			  </ul>
			</div>
			<div class="col s12 m4">
			 <ul class="collection z-depth-1 with-header hoverable card">
				<li class="collection-header"><strong>Dogs</strong></li>
				<li class="collection-item avatar">
				  <img src="assets/lake-animals-dogs-pets.jpg" alt="" class="circle">
				  <i class="material-icons" style="position:absolute; left:40px; top: 3px; color:#ffc107;">stars</i>
				  <span class="title truncate">Zara</span>
				  <p class="truncate"><i>Unknown</i><br>
					Blankenberge
				  </p>
				  <a href="#!" class="activator secondary-content"><i class="material-icons">view_headline</i></a>
				</li>
				<li class="collection-item avatar">
				<img src="http://bebusinessed.com/wp-content/uploads/2014/03/734899052_13956580111.jpg" alt="" class="circle" />
				  <!--<i class="material-icons circle green" style="background-color:#FF5B45 !important; ">adb</i>-->
				  <span class="title truncate">Blacky</span>
				  <p class="truncate"><i>Golden Retriever</i><br>
					Blankenberge
				  </p>
				  <a href="#!" class="activator secondary-content"><i class="material-icons">view_headline</i></a>
				</li>
				<li class="collection-item avatar">
				<img src="https://s.graphiq.com/sites/default/files/stories/t4/20_Best_Breeds_for_First-Time_Dog_Owners_3132_4371.jpg" alt="" class="circle" />
				  <!--<i class="material-icons circle red" style="background-color:#FF5B45 !important;" >adb</i>-->
				  <i class="material-icons" style="position:absolute; left:40px; top: 3px; color:#ffc107;">stars</i>
				  <span class="title truncate">Cooper</span>
				  <p class="truncate"><i>Boxer</i><br>
					Blankenberge
				  </p>
				  <a href="#!" class="activator secondary-content"><i class="material-icons">view_headline</i></a>
				</li>
				<li class="collection-item avatar">
				<img src="http://media.zenfs.com/en-US/video/video.pd2upload.com/video.yahoofinance.com@fc01f40d-8f4e-3cbc-9d8f-a7b9e79d95fd_FULL.jpg" alt="" class="circle" />
				  <!--<i class="material-icons circle" style="background-color:#FF5B45 !important;" >adb</i>-->
				  <span class="title truncate">Obi</span>
				  <p class="truncate"><i>Vizsla</i><br>
					Zedelgem
				  </p>
				  <a href="#!" class="activator secondary-content"><i class="material-icons">view_headline</i></a>
				</li>
					<li class="card-reveal addition">
					  <span class="card-title grey-text text-darken-4">Zara<i class="material-icons right">close</i></span>
					  <p><i>Unknown</i></p>
						<div class="col s6 m6 offset-s3 offset-m3">
							<img class="responsive-img" src="assets/lake-animals-dogs-pets.jpg" />
						</div>
					  <p class="ownerInfo">
					    Ayrton Vercruysse
						<i>Blankenberge</i><br />
						<a href="#!" class="secondary-content"><i class="material-icons">view_headline</i></a>
						<strong>Distance: 0.23 km</strong>
					  </p>
					</li>
			  </ul>
			</div>
			<div class="col s12 m4">
			 <ul class="collection z-depth-1 with-header hoverable card">
				<li class="collection-header"><strong>Routes</strong></li>
				<li class="collection-item avatar">
				  <i class="material-icons circle green">map</i>
				  <span class="title">Boerenbuiten</span>
				  <p><i>Blankenberge</i> <br>
					 5.5 km
				  </p>
				  <a href="#!" class="activator secondary-content"><i class="material-icons">view_headline</i></a>
				</li>
				<li class="collection-item avatar">
				  <i class="material-icons circle green">map</i>
				  <span class="title">Strand wandeling</span>
				  <p><i>Blankenberge</i> <br>
					 4.5 km
				  </p>
				  <a href="#!" class="activator secondary-content"><i class="material-icons">view_headline</i></a>
				</li>
				<li class="collection-item avatar">
				  <i class="material-icons circle green">map</i>
				  <span class="title">Brugse vesten</span>
				  <p><i>Brugge</i> <br>
					 10.2 km
				  </p>
				  <a href="#!" class="activator secondary-content"><i class="material-icons">view_headline</i></a>
				</li>
				<li class="collection-item avatar">
				  <i class="material-icons circle green">map</i>
				  <span class="title">Stadswandeling</span>
				  <p><i>Brugge</i> <br>
					 8.9 km
				  </p>
				  <a href="#!" class="activator secondary-content"><i class="material-icons">view_headline</i></a>
				</li>
					<li class="card-reveal addition">
					  <span class="card-title grey-text text-darken-4">Strand wandeling<i class="material-icons right">close</i></span>
					  <p>Google maps route.</p>
					  <p class="routeInfo">
						<i>Blankenberge</i><br />
						<a href="#!" class="secondary-content"><i class="material-icons">view_headline</i></a>
						<strong>Length: 4.5 km</strong>
					  </p>
					</li>
			  </ul>
			  
			</div>
			<div class="col s12 m4">
				<div class="card z-depth-1 hoverable">
					<div class="card-image waves-effect waves-block waves-light">
					  <img class="activator" src="assets/pexels-photo-10517.jpg">
					</div>
					<div class="card-content">
					  <span class="card-title activator grey-text text-darken-4 truncate">Florence Compernolle<i class="material-icons right">more_vert</i></span>
					  <p class="truncate">Description with the image. Look at this man, walking his dog.</p>
					</div>
					<div class="card-reveal">
					  <span class="card-title grey-text text-darken-4">Florence Compernolle<i class="material-icons right">close</i></span>
					  <p>Description with the image. Look at this man, walking his dog.</p>
					  <p class="userInfo">
						<i>Blankenberge</i><br />
						<a href="#!" class="secondary-content"><i class="material-icons">view_headline</i></a>
						<strong>Dog walker</strong>
					  </p>
					</div>
				</div>
			</div>
			<div class="col s12 m4 hide-on-small-only">
				<div class="card z-depth-1 hoverable">
					<div class="card-image waves-effect waves-block waves-light">
					  <img class="activator" src="assets/light-person-woman-night.jpg">
					</div>
					<div class="card-content">
					  <span class="card-title activator grey-text text-darken-4 truncate">Maxim Braekman<i class="material-icons right">more_vert</i></span>
					  <p class="truncate">Hey, isn't this the girl that is located at the login-screen as well??</p>
					</div>
					<div class="card-reveal">
					  <span class="card-title grey-text text-darken-4">Maxim Braekman<i class="material-icons right">close</i></span>
					  <p>Hey, isn't this the girl that is located at the login-screen as well??</p>
					  <p class="userInfo">
						<i>Blankenberge</i><br />
						<a href="#!" class="secondary-content"><i class="material-icons">view_headline</i></a>
						<strong>Dog owner/walker</strong>
					  </p>
					</div>
				</div>
			</div>
			<div class="col s12 m4 hide-on-small-only">
				<div class="card z-depth-1 hoverable">
					<div class="card-image waves-effect waves-block waves-light">
					  <img class="activator" src="assets/sunrise-666524_1920.jpg">
					</div>
					<div class="card-content">
					  <span class="card-title activator grey-text text-darken-4 truncate">Ayrton Vercruysse<i class="material-icons right">more_vert</i></span>
					  <p class="truncate">Lookie lookie, walking the dog on the beach.</p>
					</div>
					<div class="card-reveal">
					  <span class="card-title grey-text text-darken-4">Ayrton Vercruysse<i class="material-icons right">close</i></span>
					  <p>Lookie lookie, walking the dog on the beach.</p>
					  <p class="userInfo">
						<i>Blankenberge</i><br />
						<a href="#!" class="secondary-content"><i class="material-icons">view_headline</i></a>
						<strong>Dog owner</strong>
					  </p>
					</div>
				</div>
			</div>
			<div class="col s12 m12 l6">
				<div class="card z-depth-1 hoverable">
					<!--<div class="card-content">
					  <span class="card-title activator grey-text text-darken-4">Calendar<i class="material-icons right">more_vert</i></span>-->
						<ul class="collection z-depth-1 with-header hoverable">
							<li class="collection-header"><strong>Calendar</strong></li>
							<li>
								<div id="calendar"></div>
							</li>
						</ul>
					<!--</div>-->
				</div>
			</div>
			<div class="col s12 m6 hide-on-small-only">
			 <ul class="collection z-depth-1 with-header hoverable">
				<li class="collection-header"><strong>Planning</strong></li>
				<li class="collection-item avatar">
				  <img src="assets/lake-animals-dogs-pets.jpg" alt="" class="circle">
				  <img src="https://www.peepl.be/static/images/team/ayrton.jpg" class="circle top-circle font-size:0.5em;" style="position:absolute; left:40px; top: 3px; color:#ffc107;" />
				  <span class="title truncate"><strong>Coming</strong> for a walk with Zara</span>
				  <p class="truncate"><i>Ayrton Vercruysse</i><br>
					18:00 - 19:00
				  </p>
				  <a href="#!" class="secondary-content">Today</a>
				</li>
				<li class="collection-item avatar">
				  <img src="http://bebusinessed.com/wp-content/uploads/2014/03/734899052_13956580111.jpg" alt="" class="circle">
				  <span class="title truncate"><strong>Going</strong> for a walk with Blacky</span>
				  <p class="truncate"><i>@ Aaron Bakker</i><br>
					10:00 - 11:00
				  </p>
				  <a href="#!" class="secondary-content">Saturday</a>
				</li>
			  </ul>
			</div>
			<div class="col s12 m6">
			 <ul class="collection z-depth-1 with-header hoverable">
				<li class="collection-header"><strong>Active blog-threads</strong></li>
				<li class="collection-item avatar">
				  <img src="https://www.peepl.be/static/images/team/ayrton.jpg" alt="" class="circle">
				  <span class="title truncate"><strong>Best way to train a dog?</strong></span>
				  <p class="truncate"><i>Ayrton Vercruysse</i><br>
					Anyone having any good tips on training dogs?
				  </p>
				  <a href="#!" class="secondary-content">21:13</a>
				</li>
				<li class="collection-item avatar">
				  <img src="http://www.gino-presents-elvis.com/wp-content/uploads/2015/01/Elvis-Presley-elvis-presley-22316485-2250-2533.jpg" alt="" class="circle">
				  <span class="title truncate"><strong>Allergic reaction</strong></span>
				  <p class="truncate"><i>Aaron Bakker</i><br>
					My dog seems to be allergic to the current food.
				  </p>
				  <a href="#!" class="secondary-content">Yesterday</a>
				</li>
			  </ul>
			</div>
		</div>
      </div>
	  

	  <script type="text/javascript">

		$(document).ready(function(){
			// page is now ready, initialize the calendar...
			$('#calendar').fullCalendar({
				// put your options and callbacks here
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				defaultView: 'month',
				editable: true,
				events: [
					{
						title: 'Deadline',
						start: '2016-04-01'
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: '2016-04-09T16:00:00'
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: '2016-04-16T16:00:00'
					},
					{
						title: 'Meeting',
						start: '2016-04-12T10:30:00',
						end: '2016-04-12T12:30:00'
					},
					{
						title: 'Lunch',
						start: '2016-04-12T12:00:00'
					}]
			})
		})
	  </script>