/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Aspergit';    
  src: url('AspergitBold.eot') format('embedded-opentype');
  src: url('AspergitBold.eot?#iefix') format('embedded-opentype'),
        url('AspergitBold.ttf') format('truetype'),
        url('AspergitBold.otf');
  font-weight: normal;
  font-style: normal;
}



th, td{
	padding-right: 15px !important; 
}


html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Aspergit','Open Sans','Helvetica Neue',Arial,sans-serif !important;
    /*font-family: Merriweather,'Helvetica Neue',Arial,sans-serif !important;*/
}

html{
	background-color: #36373B;
}


.jumbotron {
    background-color:#36373B !important;
    color: #FF5B45 !important;
    padding: 100px 25px;
}

.navbar {
    margin-bottom: 0;
    background-color: #36373B !important;

    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    border-color: transparent !important;

    opacity: 0.8;
}

.navbar li a, .navbar .navbar-brand {
    color: #FF5B45 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #36373B !important;
    background-color: #FF5B45 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent !important;
    color: #FF5B45 !important;
}


.btn-primary, .btn-getstarted {
    border-color: #FF5B45;
    color: #fff;
    background-color: #FF5B45;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;

    border-radius: 300px;
    padding: 19px 30px;
    line-height: 0.1em;

    cursor: pointer;
    margin-top: 25px;
}
.btn-getstarted {
    border-color: #fff;
    color: #FF5B45;
    background-color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
}
.btn-getstarted:hover,
.btn-getstarted:focus,
.btn-getstarted.focus,
.btn-getstarted:active,
.btn-getstarted.active,
.open > .dropdown-toggle.btn-getstarted {
    border-color: #F0C8BA;
    color: #FF5B45;
    background-color: #F0C8BA;
}


.form-label{
	width: 160px;
}

.form-field{
	width: 250px;
}

#footer, #footer2{
   width:100%;
   height:50px;   /* Height of the footer */
   background:#36373B;
   color: white;
   letter-spacing: 4px;
   text-align: center;
   padding-top: 15px;
   font-size: 0.7em;
}

#footer{
   position:absolute;
   bottom: -50px;
}

.bg-footer{
    max-width: 1200px;
    margin: 0 auto;
}

.footerSocialMedia{
    max-width:140px; 
    margin: 0 auto;
}
.footerlink{
    color: #777;
}
.footerlink:hover,
.footerlink:focus,
.footerlink.focus,
.footerlink:active,
.footerlink.active{
    color: #FF5B45;
    text-decoration: none;
}
.forgot-password, .termsofagreement{
    text-decoration: none;
}
.forgot-password:hover,
.forgot-password:focus,
.forgot-password.focus,
.forgot-password:active,
.forgot-password.active,
.termsofagreement:hover,
.termsofagreement:focus,
.termsofagreement.focus,
.termsofagreement:active,
.termsofagreement.active{
    color: #FF5B45;
    text-decoration: none;
}

.container{
	width: auto !important;
}

#content{
	padding-top: 65px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    position: relative;
}
#contentAuthentication{
    padding-top: 65px;
}

#imagebackground {
    position: relative;
    width: 100%;
    min-height: 100%;
    text-align: center;
    color: black;
   /* background-image: url(walking-garden-dog-outside.jpg);
    background-image: url(animal-dog-pet-brown.jpg);
    background-image: url(animal-dog-pet-fur.jpg);
    background-image: url(pexels-photo-10517.jpg);
    background-image: url(animal-dog-outside-pet.jpg);
    background-image: url(light-person-woman-night.jpg);*/
    background-image: url(light-person-woman-night.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 30%;
    text-align: center;
    color: black;
    background-image: url(dog-264718_1920_narrow.jpg);
    background-position: bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
   /* background-image: url(walking-garden-dog-outside.jpg);
    background-image: url(animal-dog-pet-brown.jpg);
    background-image: url(animal-dog-pet-fur.jpg);
    background-image: url(pexels-photo-10517.jpg);
    background-image: url(animal-dog-outside-pet.jpg);
    background-image: url(light-person-woman-night.jpg);*/
    background-image: url(walking-garden-dog-outside.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    /*text-transform: uppercase;*/
    font-weight: 700;
}

header .header-content .header-content-inner h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 600;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
	max-width: 50px;
	border-color: #FF5B45 !important;
	border-width: 3px !important;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
}

@media(min-width:1000px, max-height: 800px) {
    #contentAuthentication{
        padding-top: 5% !important;
    }
}

@media(min-width:768px) {
    .content{
        padding-top: 50px;
    }
    .dl-horizontal dd{
        margin-left: 120px;
    }
    header {
        min-height: 100%;
    }
    #imagebackground{
        min-height: 100%;
    }
    .banner{
        min-height: 30%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }

    /*modal settings*/
    .modal-dialog{
        width: 900px;
    }
    #TermsOfAgreementModal{
        margin-top: 5%;
    }
}

.content{
       background: white;
}

#loginbox{
	width: 475px;
	border-color: #36373B;
	border-width: 1px;
	border-style: solid;
}
#userbox{
	width: 950px;
	border-color: #36373B;
	border-width: 1px;
	border-style: solid;
}
.titlebox{
	color:white;
	height: 140px;
	margin-left:-15px;
	margin-right:-15px;
	margin-top:-20px;
	margin-bottom: 15px;
	border-bottom-color: #36373B;
	border-bottom-width: 1px;
	border-bottom-style: solid;
  	background-color: #36373B;
}

.titlebox h1{
	padding-top: 55px;
}

.buttons{
	border-radius: 0px !important;
	margin-bottom: 15px !important;
	width: 250px !important;
}
.rememberme{
	width: 280px !important;
}
.rememberme label{
	font-weight: lighter;
	margin-top: 10px;
}
.bg-primary{
    padding-top:50px;
	padding-bottom: 50px !important;
	background-color: #FF5B45 !important;
}
.bg-secondary{
    padding-top:50px;
    padding-bottom: 50px !important;
    background-color: #fff !important;
}
@media(max-width:1000px) {
    .col-lg-3 {
        width: 33% !important;
    }
}
@media (min-width: 992px) {
    .col-lg-4 {
        width: 33% !important;
    }
}
.col-lg-3, .col-lg-4 {
    margin-bottom: 25px;
}
@media(min-width:1200px) {
    .bg-secondary .row{
        max-width: 1000px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 100% !important;
    }
}
hr.light {
    border-color: #fff !important;
}
hr.primary {
    border-color: #FF5B45 !important;
}
hr {
    max-width: 50px !important;
    border-color: #f05f40 !important;
    border-width: 3px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border: 0 !important;
    border-top: 3px solid #eee !important;
}
.text-primary {
    color: #FF5B45 !important;
}

#TermsOfAgreementModal{
    margin-top: 50px;
}
.checkbox{
    margin-top: :2px;
}