// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

        html{
            font-size:14px !important;
        }
        
        body div.container{
            height:82%;
        }
    
    
        /* ------- LOGIN-FORM ------- */
        #login-page {
            flex: 1 0 auto;
            margin-top: 50px;
            width: 325px;
        }
        
        .login-form{
            width: 300px;
        }
        form{
            display:block;
            margin-top:0em;
        }
        .profile-image-login{
            width: 96px;
            height: 96px;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: -20px;
        }
        
        .toast{
            padding:15px 25px;
            background-color: #36373B !important;
            word-wrap: break-word !important;
        }
        
        #toast-container{
            top:5% !important;
            right:5% !important;
            left: auto !important;
            max-width: 350px;
        }

        #Register, #Login, #SendPassword {
            width:inherit;
            line-height:inherit
        }
        #sendWallPost{
            /*line-height:inherit;*/
            line-height:27px;
            font-size: 1em;
            height: inherit;
            margin-right: -45px;
            margin-left: -45px;
            padding-left: 45px;
            padding-right: 45px;
        }
        /* ------- END LOGIN-FORM ------- */
        



		/* ------- FOOTER ------- */
		.footer-copyright{
			line-height: 10px !important;
			height: 33px !important;
			padding-bottom: 10px;
			font-size: 0.95em;
			background-color: #36373B !important;
		}
		/* ------- END FOOTER ------- */




        /* ------- SETTINGS ------- */
        #profile-page-header .card-image{
            height:250px;
        }
        .card .card-image{
            position:relative;
        }
        #profile-page-header .card-profile-image{
            width: 110px;
            position: absolute;
            top: 190px;
            z-index: 1;
            left: 40px;
            cursor: pointer;
            margin: 0;
        }
        #profile-page-wall-posts .card-profile-title{
            font-size: 16px;
            padding: 20px;
            border-radius: 0 0 2px 2px;
        }
        
        #profile-page-wall .profile-image-post{
            width: 60px;
            margin: 30px 10px;
        }
        
        
        #profile-page-header .card-content{
            margin-top: -40px;
        }
        
        #content .container .row{
            margin-bottom: 0;
        }
        
        .tabs{
            overflow-x:hidden;
        }

        .collection .collection-item{
            background-color: #FFF;
            line-height: 1.5rem;
            padding: 10px 20px !important;
            margin: 0;
            border-bottom: 1px solid #e0e0e0
        }
        .collection .collection-item.avatar{
            height: 84px;
            padding-left: 72px !important;
            position: relative;
        }

        .collection-PictureHeader{
            padding: 0px !important;
        }

        .collection-PictureHeader div{
            margin: 0px !important;
        }
        
        .planningDay{
            position: relative !important;
            top: -20px !important;
            right: 0px !important;
        }

        .photoSelectField{
            margin-top: 0px;
            margin-left: 14.8% !important;
        }
        
        .editBtnHeader{
            margin-top: 5px;
        }
        /*.editBtn{
            position:fixed;
            right: 2%;
            bottom: 1%;
        }*/
        
        /* -- Google Maps -- */
        .map-card #map-canvas{
            width: 100%;
            height: 342px;
        }
        .map-card .btn-move-up{
            top: -38px;
        }
        .map-card .card .card-content{
            padding: 0px 20px 20px 20px;
            border-radius: 0 0 2px 2px;
        }
        
        #profile-page-availability-details{
            margin-top: 0px !important;
        }
        .availabilityHeader, .availabilityBox{
            padding-top:0px;
            padding-bottom: 0px;
        }
        .availabilityBox{
            border-style: solid;
            border-width: 1px;
            border-color: white;
            width: 11.9%;
            margin-left:auto;
            right:auto;
            left:auto;
        }
        .availabilityBoxLegend{
            border-style: solid;
            border-width: 1px;
            border-color: white;
            width: 23.8%;
            margin-left:auto;
            right:auto;
            left:auto;
        }
        .availabilityBox.free, .availabilityBoxLegend.free{
            background-color: #00c853;
        }
        .availabilityBox.notfree, .availabilityBoxLegend.notfree{
            background-color: #FF5B45;
        }
        #setGeneralAvailability{
            padding: 5px; 
            border: solid 1px grey;
        }

        #preferencefield div.select-wrapper{
            margin-top:5px;
        }
        #preferencefield div.select-wrapper ul.dropdown-content li{
            min-height: 30px !important;
            line-height: 30px !important;
        }
        #preferencefield div.select-wrapper ul.dropdown-content li span{
            line-height: 22px;
            padding: 4px 16px;
            font-size: 0.9em !important;
        }
        input.select-dropdown{
            margin-bottom: 0px !important;
            line-height: 30px !important;
            height: 30px !important;
        }
        .caret{
            top: 10px !important;
        }
        /* ------- END SETTINGS ------- */
        