// Place all the styles related to the wallpost controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


        label.active{
            margin-top: 10px;
        }
		.file-field .file-path-wrapper{
			padding-left: 0px;
			padding-right: 20px;
		}