<section class="bg-footer" id="services">
	<div class="container">
		<div class="row">
	    	<div class="col-lg-4 col-md-6 text-center">
	        	<div class="service-box">
	            	<h4>Leash-logo</h4>
	                <p class="text-muted">
	                	The favourite community of 
	                    dog-lovers.<br /><br />
	                    Find someone in your neighbourhood to walk your dog or find a dog to take for a walk.
					</p>
	            </div>
	        </div>
	        <div class="col-lg-4 col-md-6 text-center">
	        	<div class="service-box">
	            	<h4>Follow us on</h4>
	                <div class="text-center footerSocialMedia">
		            	<p class="text-muted text-left">
							<a class="footerlink" href="#" target="blank">
								<span class="fa-stack fa-lg">
									<i class="fa fa-facebook-square fa-stack-2x"></i>
								</span>   Facebook
							</a><br>
							<a class="footerlink" href="#" target="blank">
								<span class="fa-stack fa-lg">
									<i class="fa fa-twitter-square fa-stack-2x"></i>
								</span>   Twitter
							</a><br>
							<a class="footerlink" href="#" target="blank">
								<span class="fa-stack fa-lg">
									<i class="fa fa-google-plus-square fa-stack-2x"></i>
								</span>   Google Plus
							</a><br>
		                </p>
	                </div>
	            </div>
	        </div>
	        <div class="col-lg-4 col-md-6 text-center">
	        	<div class="service-box">
	            	<h4>Contact us</h4>
	                <p class="text-muted">Questions or advice? 
	                	<br />Feel free to send us a mail!
	                    <br />
	                    <br />
						<a class="footerlink" href="mailto:leashayrim@gmail.com">
							<span class="fa-stack fa-lg">
								<i class="fa fa-envelope-square fa-stack-2x"></i>
							</span>   Send us a mail
						</a><br>
					</p>
	            </div>
	        </div>
	    </div>
	</div>
</section>
<p class="text-muted">Copyright <span class="fa fa-copyright"></span> 2016</p>
